<%inherit file="home_base.html"/>

<%block name="subcontent">

<header class="container ooc-page-header">
  <h1><i class="fa fa-info-circle"></i> 关于我们</h1>
</header>

<section class="container ooc-section-main">

  <article class="ooc-article-mini">
    <header>
      <h2><i class="fa fa-question fa-fw"></i> 建站原因</h2>
      <p>学习计算机，学习 Linux , 让分享为创造提速 。</p>
    </header>

    <section>
      <p>我们有一个梦想：有一天，我们不需要学习英语，就可以自由与计算机交流，学习、编程、应用、...</p>
    </section>
  </article>


  <article class="ooc-article-mini">
    <header>
      <h2><i class="fa fa-globe fa-fw"></i> 目标</h2>
      <p>快乐、有效地学习计算机</p>
    </header>

    <section>
      <p></p>
    </section>
  </article>


  <article class="ooc-article-mini">
    <header>
      <h2><i class="fa fa-comments fa-fw"></i> 需要您的帮助</h2>
      <p>任何建议、支持、分享都非常欢迎！</p>
    </header>

    <section>
      <p>联系我们：</p>
      <dl class="dl-horizontal">
        <dt><i class="fa fa-envelope-o"></i></dt>
        <dd><a href="mailto:info@ylinux.org">info@ylinux.org</a></dd>

        <dt>QQ群</dt>
        <dd>Linux与云计算 232629450 （2000人）</dd>
      </dl>
    </section>
  </article>


</section>

</%block>
