<%inherit file="home_base.html"/>

<%block name="subcontent">

<header class="container ooc-page-header">
  <h1><i class="fa fa-comment-o"></i> 联系我们</h1>
</header>

<section class="container ooc-section-main">

  <article class="ooc-article-mini">
    <header>
      <h2><i class="fa fa-envelope-o fa-fw"></i> 邮件</h2>
      <p>欢迎邮件沟通</p>
    </header>

    <section>
      <p><a href="mailto:info@ylinux.org">info@ylinux.org</a></p>
    </section>
  </article>

  <article class="ooc-article-mini">
    <header>
      <h2><i class="fa fa-comments fa-fw"></i> QQ群</h2>
    </header>

    <section>
      <p>Linux与云计算 232629450 （2000人）</p>
    </section>
  </article>

</section>

</%block>
