<%inherit file="home_base.html"/>

<%block name="subcontent">

##id="home-welcome" 
<div id="home-welcome" class="jumbotron">

  <div class="container">

    <h1>${ _("Y Web Framework") }</h1>
    <p><strong>${ _("No Best, Just Better!") }</strong>
      <a href="https://github.com/jianlee/YWeb" target="_blank"><img alt="YWeb on Github" src="${ static_url('img/socialGitHub.png') }"/></a>
    </p>

    <p><a class="btn btn-lg btn-link supported-link" href="http://www.ylinux.org" target="_blank"><img src="${ static_url('img/logo.png') }" alt="YLinux.org" /></a></p>

  </div>
</div>

</%block>
