<%inherit file="/console/console_base.html"/>

<%block name="exthead">
    <link rel="stylesheet" href="${ static_url('css/console.css', 'account') }">
</%block>

<%block name="content">
<div class="container console-container">

  <div class="row">
    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">${ _("My Account") }</div>
        <div class="panel-body">
          <div class="user-avatar text-center">
            <a href="${ reverse_url('console:account') }"><img class="user-logo-img" src="${ current_user.avatar_lg_url }" alt="Avatar" /></a>
            <p class="username">${ current_user.nickname }</p>
          </div>
        </div>

        <div class="list-group">
          <a href="${ reverse_url('console:account') }" class="list-group-item">${ _("Basic Information") }</a>
          <a href="${ reverse_url('console:account:basicinfo:edit') }" class="list-group-item">${ _("Basic Information Edit") }</a>
          <a href="${ reverse_url('console:account:password:change') }" class="list-group-item">${ _("Change My Password") }</a>
          <a href="${ reverse_url('console:account:avatar:change') }" class="list-group-item">${ _("Change My Avatar") }</a>
          <a href="${ reverse_url('console:account:email:change') }" class="list-group-item">${ _("Change My E-mail") }</a>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <%block name="subcontent"></%block>
    </div>
  </div>
</div>

<script>
// active main menu
$('#console-entry-account').addClass('active');

var url = window.location;
// Will only work if string in href matches with location
$('.list-group a[href="'+ url +'"]').addClass('active');

// Will also work for relative and absolute hrefs
$('.list-group a').filter(function() {
    return this.href == url;
}).addClass('active');
</script>

</%block>
