<%inherit file="console_base.html"/>

<%block name="subcontent">
<div class="panel panel-default account-pannel">
  <div class="panel-heading">${ _("Basic Information") }</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>${ _("UID") }</dt>
      <dd>${ current_user.uid }</dd>
      <dt>${ _("E-mail") }</dt>
      <dd>${ current_user.email }</dd>
      <dt>${ _("Username") }</dt>
      <dd>${ current_user.username }</dd>
      <dt>${ _("Gender") }</dt>
      <dd>${ current_user.gender }</dd>
      <dt>${ _("Nickname") }</dt>
      <dd>${ current_user.nickname }</dd>
      <dt>${ _("First Name") }</dt>
      <dd>${ current_user.first_name }</dd>
      <dt>${ _("Last Name") }</dt>
      <dd>${ current_user.last_name }</dd>
      <dt>${ _("Language") }</dt>
      <dd>${ current_user.language }</dd>
      <dt>${ _("Last Active") }</dt>
      <dd>${ ftime(current_user.last_active) }</dd>
      <dt>${ _("Last Login") }</dt>
      <dd>${ ftime(current_user.last_login) }</dd>
      <dt>${ _("Date Joined") }</dt>
      <dd>${ ftime(current_user.date_joined) }</dd>
    </dl>
  </div>
</div>

</%block>
