<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>${ title } - YWEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="Keywords" content="" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="${ static_url('reliance/bootstrap/css/bootstrap.min.css') }">
    <link rel="stylesheet" href="${ static_url('reliance/font-awesome/css/font-awesome.min.css') }">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <script src="${ static_url('reliance/jquery-2.1.0.min.js') }"></script>
    <script src="${ static_url('reliance/bootstrap/js/bootstrap.min.js') }"></script>
<%block name="exthead"></%block>
  </head>
  <body>
<div class="basic-select-language container text-right">
  ${ module('setlang') }
</div>
<%block name="extbody"></%block>
  </body>
</html>
