<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LuoYun Mako Template System Trac Info</title>
  </head>
  <body>
    <div class="container">
      <h1>LuoYun Mako Template System Trac Info</h1>

      <div>
        % for (filename, lineno, function, line) in traceback.traceback:
        <div>
          <p><span class="text-info">${ filename }</span>:<span class="text-error">${ lineno }</span>, ${ function }</p>
          <pre>${ line.replace('<', '&lt;').replace('>','&gt;') }</pre>
        <div>
          % endfor

        <div class="hero-unit">
          ${ traceback.error.__class__.__name__ }: ${ traceback.error }
        </div>
      </div>
    </div>
  </body>
</html>
