
.codehilite{background-color:#ffc;}.codehilite pre{font-size:14px}
.codehilite .c{color:#998;font-style:italic}
.codehilite .err{color:#a61717;background-color:#e3d2d2}
.codehilite .k{color:#000;font-weight:bold}
.codehilite .o{color:#000;font-weight:bold}
.codehilite .cm{color:#998;font-style:italic}
.codehilite .cp{color:#999;font-weight:bold;font-style:italic}
.codehilite .c1{color:#998;font-style:italic}
.codehilite .cs{color:#999;font-weight:bold;font-style:italic}
.codehilite .gd{color:#000;background-color:#fdd}
.codehilite .ge{color:#000;font-style:italic}
.codehilite .gr{color:#a00}
.codehilite .gh{color:#999}
.codehilite .gi{color:#000;background-color:#dfd}
.codehilite .go{color:#888}
.codehilite .gp{color:#555}
.codehilite .gs{font-weight:bold}
.codehilite .gu{color:#aaa}
.codehilite .gt{color:#a00}
.codehilite .kc{color:#000;font-weight:bold}
.codehilite .kd{color:#000;font-weight:bold}
.codehilite .kn{color:#000;font-weight:bold}
.codehilite .kp{color:#000;font-weight:bold}
.codehilite .kr{color:#000;font-weight:bold}
.codehilite .kt{color:#458;font-weight:bold}
.codehilite .m{color:#099}
.codehilite .s{color:#d01040}
.codehilite .na{color:#008080}
.codehilite .nb{color:#0086b3}
.codehilite .nc{color:#458;font-weight:bold}
.codehilite .no{color:#008080}
.codehilite .nd{color:#3c5d5d;font-weight:bold}
.codehilite .ni{color:#800080}
.codehilite .ne{color:#900;font-weight:bold}
.codehilite .nf{color:#900;font-weight:bold}
.codehilite .nl{color:#900;font-weight:bold}
.codehilite .nn{color:#555}
.codehilite .nt{color:#000080}
.codehilite .nv{color:#008080}
.codehilite .ow{color:#000;font-weight:bold}
.codehilite .w{color:#bbb}
.codehilite .mf{color:#099}
.codehilite .mh{color:#099}
.codehilite .mi{color:#099}
.codehilite .mo{color:#099}
.codehilite .sb{color:#d01040}
.codehilite .sc{color:#d01040}
.codehilite .sd{color:#d01040}
.codehilite .s2{color:#d01040}
.codehilite .se{color:#d01040}
.codehilite .sh{color:#d01040}
.codehilite .si{color:#d01040}
.codehilite .sx{color:#d01040}
.codehilite .sr{color:#009926}
.codehilite .s1{color:#d01040}
.codehilite .ss{color:#990073}
.codehilite .bp{color:#999}
.codehilite .vc{color:#008080}
.codehilite .vg{color:#008080}
.codehilite .vi{color:#008080}
.codehilite .il{color:#099}
body{color:#2f2f2f;font-family:Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif;font-size:18px;font-weight:100;line-height:30px}
#site-nav-primary{border-radius:0}
#site-nav-primary.navbar{margin-bottom:0}
.main-container{padding-bottom:80px}
.full-container{background-color:#428bca}
.big-center{padding:150px 0 500px;text-align:center}.big-center p{font-size:20px}
#footer{padding-top:60px;padding-bottom:10px;border-top:1px solid #e6e6e6;text-align:center;background-color:#31302b;font:13px/18px 'Courier New',Courier,monospace;overflow:hidden;position:relative}#footer a{color:#428bca}
#footer #footer-content a{font-weight:bold;color:#fff;padding:10px 15px}
#footer #copyright{font:12px/12px 'OpenSansRegular',sans-serif;text-transform:uppercase;color:#828070;border-top:1px solid #5a5955;margin-top:55px;padding:10px 0 15px;overflow:hidden}#footer #copyright li{float:left}
#footer #copyright a{color:#cac3b4}
#footer #copyright .f-left{padding-top:11px}
.f-right,.right{float:right !important}
.f-left,.left{float:left !important}
#home-welcome{color:#fff;padding:150px 0 500px}
