<%inherit file="/base.html"/>

<%block name="exthead">
    <link rel="stylesheet" href="${ static_url('css/styles.css', 'blog') }">
    <%block name="subhead"></%block>
</%block>

<%block name="content">
<div class="container blog-container">
  <div class="row">

    <div class="col-md-9">
% if article:
<div class="article-view">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>${ article.title }</h3>
    </div>
    <div class="panel-body">
      ${ article.body_html }
    </div>
  </div>
</div>
% endif
    </div><!-- End col-md-9 -->

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>${ _("Author") }</h3>
        </div>
        <div class="panel-body">
          <div class="user-avatar text-center">
            <a href="${ reverse_url('user', article.user.uid) }"><img class="user-logo-img" src="${ article.user.avatar_lg_url }" alt="Avatar" /></a>
            <p class="username">${ article.user.nickname }</p>
          </div>
        </div>

        <div class="list-group">
          <a href="${ reverse_url('user', article.user.uid) }" class="list-group-item"><i class="fa fa-home"></i> ${ _("Author Homepage") }</a>
          <a href="#" class="list-group-item"><i class="fa fa-envelope-o"></i> ${ _("Contact Me") }</a>
        </div>
      </div>
    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End user-container-->

<script>
// active main menu
$('#site-entry-blog').addClass('active');

var url = window.location;
// Will only work if string in href matches with location
$('.list-group a[href="'+ url +'"]').addClass('active');

// Will also work for relative and absolute hrefs
$('.list-group a').filter(function() {
    return this.href == url;
}).addClass('active');
</script>
</%block>
