<%inherit file="blog_base.html"/>

<%block name="subcontent">
<div class="container">
  <div class="row">

    <div class="col-md-9">

      <div class="article-view">
        <div class="panel panel-default">
          <div class="panel-heading">

            <strong class="article-title">${ article.title }</strong>

            % if not article.is_public:
            <button type="button" class="btn btn-warning btn-xs">${ _("Not Public") }</button>
            % endif

            % if current_user and (current_user.id == article.user_id or current_user.is_superuser):
            <a class="btn btn-info btn-xs" href="${ reverse_url('console:blog:article:edit', article.id) }">${ _("Edit") }</a>
            % endif

          </div>
          <div class="panel-body">

            <div>
              % for tag in article.tags:
              <span class="tag">${ tag.tag.name }</span>
              % endfor
            </div>
            <div class="article-view-baseinfo row">
              <div class="col-md-6">
                <table>
                  <tbody>
                    <tr>
                      <th>${ _("ID") }</th>
                      <td>${ article.id }</td>
                    </tr>
                    <tr>
                      <th>${ _("Status") }</th>
                      <td>${ article.status }</td>
                    </tr>
                    <tr>
                      <th>${ _("Created") }</th>
                      <td>${ ftime(article.created) }</td>
                    </tr>
                    <tr>
                      <th>${ _("Updated") }</th>
                      <td>${ ftime(article.updated) }</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <table>
                  <tbody>
                    <tr>
                      <th>${ _("Vote Up") }</th>
                      <td>${ article.vote_up }</td>
                    </tr>
                    <tr>
                      <th>${ _("Vote Down") }</th>
                      <td>${ article.vote_down }</td>
                    </tr>
                    <tr>
                      <th>${ _("View Count") }</th>
                      <td>${ article.view_count }</td>
                    </tr>
                    <tr>
                      <th>${ _("Post Count") }</th>
                      <td>${ article.post_count }</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            ${ article.body_html }
          </div>
        </div>

        <div class="blog-post-container">

          <% purl = reverse_url('blog:article:post:all', article.id) %>
          % if article.post_count > 0:
          <ul class="nav nav-pills">
            <li class="active"><a href="${ reverse_url('blog:article:post:all', article.id) }">${ _("The hottest Reply") }</a></li>
            <li><a href="${ urlupdate(purl, 'order_by', 'updated') }">${ _("Latest reply") }</a></li>
            <li><a href="${ urlupdate2(purl, {'order_by':'created', 'asc': 1}) }">${ _("The earliest Reply") }</a></li>
          </ul>
          % for post in posts:
          <div class="panel panel-default blog-post-item">
            <div class="panel-heading">
              <a href="${ reverse_url('user', post.user.uid) }"><img class="img-circle" src="${ post.user.avatar_xs_url }"/></a>
              <span class="username">${ post.user.nickname }</span>
            </div>
            <div class="panel-body">
              <p class="datetime">
                ${ _("Updated") }
                ${ ftime(post.updated) }
              </p>
              ${ post.body_html }
            </div>
          </div>
          % endfor
          % endif

          <p>
            <a class="btn btn-primary" href="${ reverse_url('blog:article:post:new', article.id) }">${ _("Reply Article") }</a>
          </p>
        </div>
      </div>
    </div><!-- End col-md-9 -->

    <div class="col-md-3 blog-sidebar-container">
      <div class="user-avatar text-center">
        <a href="${ reverse_url('user', article.user.uid) }"><img class="user-logo-img" src="${ article.user.avatar_lg_url }" alt="Avatar" /></a>
        <p class="username"><a href="${ reverse_url('user', article.user.uid) }">${ article.user.nickname }</a></p>
      </div>
    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End user-container-->

<script>
// active main menu
$('#site-entry-blog').addClass('active');

var url = window.location;
// Will only work if string in href matches with location
$('.list-group a[href="'+ url +'"]').addClass('active');

// Will also work for relative and absolute hrefs
$('.list-group a').filter(function() {
    return this.href == url;
}).addClass('active');
</script>
</%block>
