<%inherit file="/base.html"/>

<%block name="exthead">
    <link rel="stylesheet" href="${ static_url('css/styles.css', 'blog') }">
    <%block name="subhead"></%block>
</%block>

<%block name="content">
<div class="container blog-container">
  <div class="row">

    <div class="col-md-9">

      <div class="panel panel-default">
        <div class="panel-heading">
          <strong class="article-title"><a href="${ reverse_url('blog:article:view', article.id) }">${ article.title }</a></strong>
        </div>
        <div class="panel-body">
          ${ article.abstract }
        </div>
      </div>

      <div class="article-post-all">
        <ul class="nav nav-pills">
          <li class="active"><a href="${ reverse_url('blog:article:post:all', article.id) }">${ _("The hottest Reply") }</a></li>
          <li><a href="${ urlupdate(request.uri, 'order_by', 'updated') }">${ _("Latest reply") }</a></li>
          <li><a href="${ urlupdate2(request.uri, {'order_by':'created', 'asc': 1}) }">${ _("The earliest Reply") }</a></li>
        </ul>

        % if post_total:
        % for post in post_list:
        <div class="panel panel-default blog-post-item">
          <div class="panel-heading">
            <a href="${ reverse_url('user', post.user.uid) }"><img class="img-circle" src="${ post.user.avatar_xs_url }"/></a>
            <span class="username">${ post.user.nickname }</span>
          </div>
          <div class="panel-body">
            <p class="datetime">
              ${ _("Updated") }
              ${ ftime(post.updated) }
            </p>
            ${ post.body_html }
          </div>
        </div>
        % endfor
        % else:
        <div class="big-center">
          <h3 class="text-warning">${ _("No posts yet.") }</h3>
        </div>
        % endif

      </div><!-- End article-view -->

    </div><!-- End col-md-9 -->

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong class="text-center">${ _("Author") }</strong>
        </div>
        <div class="panel-body">
          <div class="user-avatar text-center">
            <a href="${ reverse_url('user', article.user.uid) }"><img class="user-logo-img" src="${ article.user.avatar_lg_url }" alt="Avatar" /></a>
            <p class="username">${ article.user.nickname }</p>
          </div>
        </div>

        <div class="list-group">
          <a href="${ reverse_url('user', article.user.uid) }" class="list-group-item"><i class="fa fa-home"></i> ${ _("Author Homepage") }</a>
          <a href="#" class="list-group-item"><i class="fa fa-envelope-o"></i> ${ _("Contact Me") }</a>
        </div>
      </div>
    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End user-container-->

<script>
// active main menu
$('#site-entry-blog').addClass('active');

var url = window.location;
// Will only work if string in href matches with location
$('.list-group a[href="'+ url +'"]').addClass('active');

// Will also work for relative and absolute hrefs
$('.list-group a').filter(function() {
    return this.href == url;
}).addClass('active');
</script>
</%block>
