<%inherit file="/base.html"/>

<%block name="exthead">
    <link rel="stylesheet" href="${ static_url('css/styles.css', 'blog') }">
    <%block name="subhead"></%block>
</%block>

<%block name="content">
<div class="blog-container">
  <%block name="subcontent"></%block>
</div>

<script>
// active main menu
$('#site-entry-blog').addClass('active');

var url = window.location;
// Will only work if string in href matches with location
$('.list-group a[href="'+ url +'"]').addClass('active');

// Will also work for relative and absolute hrefs
$('.list-group a').filter(function() {
    return this.href == url;
}).addClass('active');
</script>
</%block>
