<%inherit file="blog_base.html"/>

<%block name="subcontent">
<div class="container">
  <div class="row">

    <div class="col-md-9">

% if article_total:

<div class="row index-article-nav">
  <div class="col-md-10 col-md-offset-2">
    <ul class="nav nav-pills">
      <li><a href="${ reverse_url('blog:index') }">${ _("Newest") }</a></li>
      <li><a href="${ handler.order_url('post_count') }">${ _("Hotest") }</a></li>
      <li><a href="${ handler.order_url('vote_up') }">${ _("Favorite") }</a></li>
      <li><a href="${ handler.order_url('view_count') }">${ _("Most View") }</a></li>
      <li><a href="${ handler.order_url('created', True) }">${ _("Earliest") }</a></li>
    </ul>
  </div>
</div>

<br/>

% for article in article_list:
<div class="row index-article-list">
  <div class="col-md-2 text-right">
    <span class="datetime">${ htime(article.updated) }</span>
  </div>
  <div class="col-md-10">
    <div class="a-header">
      <a href="${ reverse_url('blog:article:view', article.id) }">${ article.title }</a>
    </div>
    <div class="a-info">
      ${ _("by") }
      <a href="${ reverse_url('user', article.user.uid) }">${ article.user.nickname }</a>
      ${ _("created at") }
      <span class="datetime">${ ftime(article.created) }</span>
    </div>
    <div class="a-body">
      <div class="abstract">${ article.abstract }</div>
    </div>
  </div>
</div>
% endfor

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    ${ module('pagination', article_total) }
  </div>
</div>

% else:
<div class="big-center">
  <h1>No articles yet.</h1>
</div>
% endif

    </div><!-- End col-md-9 -->

    <div class="col-md-3">
      <div>
        <a class="btn btn-success btn-lg" href="${ reverse_url('console:blog:article:new') }"><i class="fa fa-edit"></i> ${ _("New Blog") }</a>
      </div>
    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End container-->
<script>
var url = window.location;
// Will only work if string in href matches with location
$('.nav-pills a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('.nav-pills a').filter(function() {
    return this.href == url;
}).parent().addClass('active');
</script>
</%block>
