
.blog-container{padding-top:30px;padding-bottom:60px}
.user-avatar{margin-top:20px}
img.user-logo-img{width:100px;height:100px;border-radius:100px;border:1px solid #ddd;-webkit-box-shadow:2px 2px 2px #888;box-shadow:2px 2px 2px #888}
.blog-post-container{margin-top:60px}.blog-post-container .nav-pills{margin-bottom:20px}
.blog-post-item .panel-heading{background-color:#fff}
.username{margin-top:5px;margin-left:5px}
.datetime{color:#999;font-size:.9em}
.article-post-all .nav-pills{margin-bottom:20px}
.blog-sidebar-container h2,.blog-sidebar-container .title{padding:0;margin:3px 0;font-size:16px}
.blog-sidebar-container .side-banner{text-align:center}.blog-sidebar-container .side-banner img{width:160px;margin:15px auto 20px}
.blog-sidebar-container .side-banner p{font-weight:bold;margin:20px auto}
.aritile-side-info img{width:60px;height:60px;border-radius:100px;-webkit-box-shadow:2px 2px 3px #888;box-shadow:2px 2px 3px #888}
.aritile-side-info .username{margin:5px auto;font-color:#999}
.index-article-list .panel-heading{background-color:#fff}
.article-view-baseinfo{border-bottom:1px dotted #ddd;margin-bottom:25px;padding-bottom:15px}.article-view-baseinfo table th{padding:2px 8px;text-align:right;border:1px solid #ddd;border-radius:3px;background-color:#666;color:#fff}
.article-view-baseinfo table td{padding-left:10px;color:#666}
.tag{border-radius:3px;background-color:#ff0;color:#999;padding:2px 5px;margin-bottom:5px;display:inline-block}
