// blog 样式
@import "preboot.less";

.blog-container {
    padding-top: 30px;
    padding-bottom: 60px;
}

.user-avatar {
    margin-top: 20px;
}

img.user-logo-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #DDD;
    .box-shadow(2px 2px 2px #888888;);
}

.blog-post-container {
    margin-top: 60px;

    .nav-pills {
        margin-bottom: 20px;
    }
}

.blog-post-item {
    .panel-heading {
        background-color: #FFF;
    }
}
.username {
    margin-top: 5px;
    margin-left: 5px;
}
.datetime {
    color: #999;
    font-size: 0.9em;
}

.article-post-all {
    .nav-pills {
        margin-bottom: 20px;
    }
}

.blog-sidebar-container {

    h2, .title {
        padding: 0;
        margin: 3px 0;
        font-size: 16px;
    }

    .side-banner {
        text-align: center;

        img {
            width: 160px;
            margin: 15px auto 20px;
        }

        p {
            font-weight: bold;
            margin: 20px auto;
        }
    }
}

.aritile-side-info {
    img {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        .box-shadow(2px 2px 3px #888888;);
    }
    .username {
        margin: 5px auto;
        font-color: #999;
    }
}

.index-article-list {
    .panel-heading {
        background-color: #FFF;
    }
}

.article-view-baseinfo {
    border-bottom: 1px dotted #DDD;
    margin-bottom: 25px;
    padding-bottom: 15px;

    table {
        th {
            padding: 2px 8px;
            text-align: right;
            border: 1px solid #DDD;
            border-radius: 3px;
            background-color: #666;
            color: #FFF;
        }
        td {
            padding-left: 10px;
            color: #666;
        }
    }
}

.tag {
    border-radius: 3px;
    background-color: yellow;
    color: #999;
    padding: 2px 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.post-new {
    textarea#body {
        height: 360px;
    }
}

