// blog 样式
@import "preboot.less";

.blog-container {
    padding-top: 30px;
    padding-bottom: 60px;
}

.user-avatar {
    margin-top: 20px;
}

img.user-logo-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #DDD;
    .box-shadow(2px 2px 2px #888888;);
}

.blog-post-container {
    margin-top: 60px;

    .nav-pills {
        margin-bottom: 20px;
    }
}

.blog-post-item {
    .panel-heading {
        background-color: #FFF;
    }
}
.username {
    margin-top: 5px;
    margin-left: 5px;
}
.datetime {
    color: #999;
    font-size: 0.9em;
}

.article-post-all {
    .nav-pills {
        margin-bottom: 20px;
    }
}

.blog-sidebar-container {

    .user-avatar .username {

        a {
            color: #333;
            font-weight: bold;
            font-size: 16px;
        }

        margin-top: 15px;
    }
}

.aritile-side-info {
    img {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        .box-shadow(2px 2px 3px #888888;);
    }
    .username {
        margin: 5px auto;
        font-color: #999;
    }
}

.index-article-nav {

    .nav > li > a {
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 3px;
        margin-right: 5px;
    }
}

.index-article-list {
    margin-bottom: 30px;

    a {
        color: #444;
    }

    .a-header {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .a-body {
        margin-top: 10px;
        color: #666;
    }

    .a-info {
        margin-top: 6px;
        font-size: 0.9em;

        a {
            color: #666;
        }
    }
}

.article-view {
    .t1 {
        font-size: 22px;
        font-weight: bold;
        margin: 0px 0px 0px -1px;
        padding: 0;
    }
    .a-info {
        font-size: 14px;
        color: #444;
        margin: 5px 0 25px;
    }
    .abstract {
        margin-bottom: 30px;
        color: #666;
        font-size: 18px;

        .fa-quote-left {
            margin-right: 10px;
        }
        .fa-quote-right {
            margin-left: 10px;
        }
    }
    .a-body {
        h1,h2,h3,h4,h5,h6 {
            font-size: 18px;
            color: #333;
            font-weight: bold;
        }
    }
}

.article-view-baseinfo {
//    background-color: #F8F8F8;
//    border: 1px solid #DDD;
//    border-radius: 3px;
//    padding: 6px 8px;
    margin-top: 25px;

    table {

        font-size: 0.9em;

        th {
            text-align: right;
        }

        td {
            padding-left: 5px;
        }
    }
}


.tag {
    border-radius: 3px;
    background-color: yellow;
    color: #999;
    padding: 2px 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.post-new {
    textarea#body {
        height: 360px;
    }
}

