% if authcode:
<input type="hidden" name="authcode_key" value="${ authcode.key }"/>
<div class="form-group">
  <label for="authcode_code">${ _("Input Auth Code") }</label>
  <div class="input-group authcode-module">
    <input class="form-control" id="authcode_code" name="authcode_code" value="" type="text">
    <span class="input-group-btn"><img src="${ reverse_url('auth:authcode:img', authcode.key) }"/></span>
  </div>
  % if authcode_failed:
  <p class="authcode-not-match text-danger">${ _("Authcode does not match.") }</p>
  % endif
</div>
% endif
