<%inherit file="/base_basic.html" />

<%block name="exthead">
    <link rel="stylesheet" href="${ static_url('css/login.css', 'auth') }">
</%block>

<%block name="extbody">
<div class="container">

  <div class="form-signin">

    <img class="site-logo" src="/static/img/logo.png">

    <form method="POST">${ xsrf_form_html() }
      % for field in form:
      <div class="form-group">
        ${ field.label }
        ${ field(class_="form-control") }
        ${ form.html_errors(field) }
      </div>
      % endfor

      ${ module('authcode', authcode_failed) }
      <button class="btn btn-large btn-primary btn-block">${ _("Submit") }</button>
    </form>

  </div>

  <div id="well" class="well well-small">
    <p style="margin: 0">${ _("Don't have an account?") } <strong><a href="${ reverse_url('auth:signup') }">${ _("Register now!") }</a></strong></p>
  </div>
  <p id="copyright">&copy;&nbsp;2014 <a href="http://www.ylinux.org/">YLinux.org</a> - <a href="${ reverse_url('auth:signin') }">${ _("Sign In") }</a></p>

</div> <!-- /container -->

<script>
  $(document).ready(function () {
    $('#username').focus();
  });
</script>
</%block>
